@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --foreground: #0d0d0d;
  --background: #f8f8f8;
}

.dark {
  --foreground: #f8f8f8;
  --background: #0d0d0d;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-theme-black: #0d0d0d;
  --color-theme-white: #f8f8f8;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply min-h-screen bg-background text-foreground;
  }
}

@utility scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 0.5rem !important;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    @apply bg-[#5e5e5e]/10;
    border-radius: inherit;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    @apply bg-[#5e5e5e]/20;
    border-radius: inherit;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    @apply bg-[#5e5e5e]/30;
  }

  scrollbar-width: thin;
  /* scrollbar-gutter: stable; */
}